h1 {
  color: coral;
  font-size: 40px;
}

h2 {
  color: coral;
  font-size: 34px;
}

h3 {
  color: coral;
  font-size: 28px;
}

body {
  color: darkolive;
  font-size: 20px;
}



/* link */
a {
  color: indigo;
  font-size: 20px;
}

